In [1]:
import psycopg2 as pg
import pandas as pd
import pyodbc


for driver in pyodbc.drivers():
    print(driver)

SQL Server
PostgreSQL ANSI(x64)
PostgreSQL Unicode(x64)
PostgreSQL ANSI
PostgreSQL Unicode

In [2]:
cnxn = pyodbc.connect("DSN=PostgreSQL35W")
print(cnxn)

cursor = cnxn.cursor()

query="select * from beneficiaries limit 1"
cursor.execute("select * from beneficiaries limit 1")
for i in cursor:

    print(i)
    
cnxn = pyodbc.connect("DSN=PostgreSQL35W")
df=pd.io.sql.read_sql(query, cnxn)

df

<pyodbc.Connection object at 0x000001B65C2D2CE0>
('8a8b803a80f204e601815d0fac8a72be', '1', 1655123717257, '9a94b542-a5ea-4dd0-94b6-ba363d5b3457', '0', '9a94b542-a5ea-4dd0-94b6-ba363d5b3457', 1655123743603, None, None, None, None, None, None, None, None, '1', 'https://s3.ap-south-1.amazonaws.com/gisfy/beneficiaries/05e52149-07af-4273-a0b1-3638dca59780_/storage/emulated/0/Android/data/com.thegoodproject/files/saved_signature/signature.png', datetime.date(1995, 8, 26), None, None, None, None, None, '9a94b542-a5ea-4dd0-94b6-ba363d5b3457', 'Manja Devisingh Kapadiya', 'Female', None, None, None, None, None, None, None, '', None, '', None, '9529593995', None, '1', 'https://s3.ap-south-1.amazonaws.com/gisfy/beneficiaries/701bf748-3ba8-492d-aa6b-6cccd92e8942_rn_image_picker_lib_temp_ccfc4efc-0dcf-4502-af00-45bb761fd753.jpg', None, None, None, None, '8a8b803a8009e46b018022d0efc90100', None, None, None, None, None, '1', None, None, None, '8a8b803a7b985a71017b9bc470440010', '8a8b803a7b985a71017b9bc470440010', datetime.datetime(2022, 6, 13, 18, 5, 44), None, None, None, None, '1234', '1', 'NONE', 'NON_MIGRANT', 'Self', None, None, 5, None, None, None, None, None, None, None, None, None, None, None)

C:\Users\Shinchan\AppData\Local\Temp\ipykernel_11152\3628157862.py:10: DeprecationWarning: PyUnicode_FromUnicode(NULL, size) is deprecated; use PyUnicode_New() instead
  print(i)
C:\Users\Shinchan\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,active,created_at,created_by,deleted,last_modified_by,modified_at,age,annual_household_income,bank_account_no,...,is_migrant,referance_image_url,referance_image_url_name,user_entity_id,ftp_imported_user,diploma_passout_year,diploma_school_name,hsc_passout_year,hsc_school_name,gps_enabled
0,8a8b803a80f204e601815d0fac8a72be,1,1655123717257,9a94b542-a5ea-4dd0-94b6-ba363d5b3457,0,9a94b542-a5ea-4dd0-94b6-ba363d5b3457,1655123743603,None,None,None,...,None,None,None,None,None,None,None,None,None,None