In [1]:
import pyodbc 
import pandas as pd
server = '127.0.0.1' 
database = 'nb3' 
username = 'root' 
password = '' 




connSqlServer=pyodbc.connect('DRIVER={MySQL ODBC 8.0 ANSI Driver};SERVER='+server+';DATABASE='+database+';UID='+username+';Trusted_Connection=yes')

query="select * from xyz" 
df=pd.io.sql.read_sql(query, connSqlServer)
df

C:\Users\Shinchan\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   emp     id  cc
0  fg5  egfvh  69