In [21]:
import adodbapi as ado
import pandas as pd
import numpy as np
databasename = 'C:/Users/Shinchan/Desktop/w.mdb'  
constr = 'Provider=Microsoft.ACE.OLEDB.12.0;Data Source=%s'  % databasename 
db = ado.connect(constr)

cursor=db.cursor()
query='select * from Table1'

def get_df(data):
    ar = np.array(data.ado_results) # turn ado results into a numpy array
    df = pd.DataFrame(ar).transpose() # create a dataframe from the array
    df.columns = data.columnNames.keys() # set column names
    return df


with db.cursor() as cur:
    cur.execute(query)
    data = cur.fetchall()
    df = get_df(data)
df

  id field1 field2    field3  field4
0  4  knm n   lmam  am,qklsm  adkl s
1  5     sd      s      None       s
2  6      s      s         s       c